/02-ide/target/
/03-somma/target/
/06-somma-sequenza/target/
/07-numeri-primi/target/
/08-libreria-numeri/target/
/09-dadi-sequenza/target/
/11-array/target/
/12-somma-sequenza/target/
/13-string/target/
/14-OO/target/
